<!doctype html>
{% load staticfiles %}
<html>
  <head>
    <title>建立自己網站</title>
    <meta charset = 'utf-8'>
    <link rel='stylesheet' href='{% static "networkShop/css/networkShop.css" %}'>
  </head>
  <body>
    <div id = wrapper>
      <header>
        <img id = 'webnode' src = '{% static "networkShop/img/webnode.png" %}'>
        <ul>
          <li><a href = '{% url "main:main" %}'>首頁</a></li>
          <li><a href = '{% url "personalWeb:personalWeb" %}'>個人網站</a></li>
          <li><a href = '{% url "companyWeb:companyWeb" %}'>企業網站</a></li>
          <li><a href='{% url "networkShop:networkShop" %}'>網路商城</a></li>
        </ul>
      </header>
        <div id = 'content'>
          <img src = '{% static "networkShop/img/globe.png" %}'>
          <h1>理想的網站及網路商城</h1>
          <span>上百種的新潮樣式，絕對能符合您個人需求，為您設立個人網站，公司企業網站以及創立網路商城的最佳選擇。</span>
        </div>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  </body>
</html>