<!doctype html>
{% load staticfiles %}
<html>
  <head>
    <title>建立自己網站</title>
    <meta charset = 'utf-8'>
    <link rel = 'stylesheet' href = '{% static "main/css/main.css" %}'>
   </head>
  <body>
    <div id = wrapper>
      <header>
        <img id = 'webnode' src = '{% static "main/img/webnode.png" %}'>
        <ul>
          <li><a href = '{% url "main:main" %}'>首頁</a></li>
          <li><a href = '{% url "personalWeb:personalWeb" %}'>個人網站</a></li>
          <li><a href = '{% url "companyWeb:companyWeb" %}'>企業網站</a></li>
          <li><a href='{% url "networkShop:networkShop" %}'>網路商城</a></li>
        </ul>
      </header>
      <div class = 'right marginTop1'>
        <span>現在時刻：</span>
        <span id= time></span>
      </div>
      <div id = 'content'>
        <div class = 'center marginTop5'>
          <p><strong>我們各種技術服務，協助您快速架設網站。</strong></p>
        </div>
      </div>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src = '{% static "main/js/main.js" %}'></script>
  </body>
</html>